


.header-bg{
    height: calc(100vh - 80px);
    background-image: url(../images/header-bg-3.png);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
}

.header-bg h1{
    font-size: 90px;
    text-shadow: black;
}