



.bannar-content{
    width: 100vw;
    height: calc(100vh - 80px);
    background: #000;
    position: relative;
    /* border: 2px solid red; */
}

/* bannar background image sizing */


.bannar-image{
    position: absolute;
    bottom: 0;
    top: 0;
    right: 0;
    left: 0;
    background-position: bottom center;
    background-size: cover;
    opacity: .7;

}


/* bannat all text section  */

.bannar-text h3{
    color: white;
    font-size: 2rem;
}
.bannar-text h1{
    color: white;
    font-size: 5rem;
}



/* our SERVICES secton */

.SERVICES-bg{
    background-color:#8E44AD;
    color: white;
}

.SERVICES-bg:hover{
    background: #000;
}

.content-title{
    font-size: 60px;
}


/* about us section */



/* our package section */

.packages-hover{
    cursor: pointer;

}
.packages-hover:hover .image-scale img{
    transform: scale(1.3);
    transition: 1s;
}

.button-center>div{
    text-align: center;
}
.package-content .btn{
    text-align: center;
}



/* footer section */
.footer-link-hover a{
    text-decoration: none;
    color: white;
    padding-left: 5px;
}
.footer-link-hover i{
    color: #8E44AD;
}
/* keno kaj kore na problem ta solve korte hobe  */
.footer-link-hover:hover .footer-link-hover a{
    transform:rotate(25deg);
}


.footer-text-color , h3, hr{
    color: white;
}