

.header-bg{
    height: calc(100vh - 80px);
    background-image: url(../images/header-bg-2.png);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
}

.header-bg h1{
    font-size: 90px;
    text-shadow: black;
}

@media only screen and (max-width : 400px) {
    .header-bg h1{
        font-size: 60px;
    }
}










/* footer section */
.footer-link-hover a{
    text-decoration: none;
    color: white;
    padding-left: 5px;
}
.footer-link-hover i{
    color: #8E44AD;
}
/* keno kaj kore na problem ta solve korte hobe  */
.footer-link-hover:hover .footer-link-hover a{
    transform:rotate(25deg);
}


.footer-text-color , footer h3, footer hr{
    color: white;
}